body {background-color: #36393F;}

h1, p {color: #6d7783;}

h2, a {text-decoration: None; height: 15; color: #8E9297;}

h3 {color:green;}

.title1 {color: blue;}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr: #222327;
}
body{
    display: flex;
    min-height: 100vh;
    background: var(--clr);
}
.navigation
{
    position: absolute;
    left: 50em;
    width: 200px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.navigation ul{
    display: flex;
    width: 150px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    top: -5px;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: var(--clr);
}
.navigation ul li a .text{
    position: absolute;
    display: block;
    color: var(--clr);
    bottom: 10px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
}
.connect{
    position: absolute;
    
}