{% extends 'index.html' %}
{% block contenu %}
    <h2 class="title1"> Questionnaire {{nom}}</h2>

    <div class="question">
        <h3>Question exemple :</h3>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> {reponse1}</label>
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses"> 
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label>
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>
            <p class="reponses">
                
                <input type="radio" id="rep1" name="repQ1" class="rep">
                <label> une pomme</label> 
                
                <br>

                <input type="radio" id="rep2" name="repQ1" class="rep">
                <label> Une Cacauuuete</label>

                <br>
                
                <input type="radio" id="rep3" name="repQ1" class="rep">
                <label> Une kipa surgeler</label>
                
                <br>

                <input type="radio" id="rep4" name="repQ1" class="rep">
                <label> la reponse 4</label> 
            </p>

    </div>
{% endblock contenu %}