{% extends 'index.html' %}
{% block contenu %}
    <h2 class="title1"> Questionnaire Géographie</h2>
    <form method="POST" onsubmit="fin_timer()">
        <div class="question">
		<h3>{{que1}}</h3>
            <img src="{{ url_for('static', filename='Image_questionnaire/41.png') }}">
                <p class="reponses">
                    
                    
                    <input type="radio" id="rep1" name="repQ1" class="rep" value="1">
                    <label> {{rep11}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ1" class="rep" value="2">
                    <label> {{rep12}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ1" class="rep" value="3">
                    <label> {{rep13}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ1" class="rep" value="4">
                    <label> {{rep14}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que2}}</h3>
			    <img src="{{ url_for('static', filename='Image_questionnaire/42.png') }}">
                <p class="reponses"> 
                    <input type="radio" id="rep1" name="repQ2" class="rep" value="1">
                    <label> {{rep21}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ2" class="rep" value="2">
                    <label> {{rep22}}</label>
                    <br>
                    
                    <input type="radio" id="rep3" name="repQ2" class="rep" value="3">
                    <label> {{rep23}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ2" class="rep" value="4">
                    <label> {{rep24}}</label>
                </p>
        </div>
        <div class="question">
		    <img src="{{ url_for('static', filename='Image_questionnaire/43.png') }}">
            <h3>{{que3}}</h3>
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ3" class="rep" value="1">
                    <label> {{rep31}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ3" class="rep" value="2">
                    <label> {{rep32}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ3" class="rep" value="3">
                    <label> {{rep33}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ3" class="rep" value="4">
                    <label> {{rep34}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que4}}</h3>
				<img src="{{ url_for('static', filename='Image_questionnaire/44.png') }}">
				<p class="reponses">
                    <input type="radio" id="rep1" name="repQ4" class="rep" value="1">
                    <label> {{rep41}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ4" class="rep" value="2">
                    <label> {{rep42}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ4" class="rep" value="3">
                    <label> {{rep43}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ4" class="rep" value="4">
                    <label> {{rep44}}</label>
				</p>
		</div>
        <div class="question">
            <h3>{{que5}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/45.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ5" class="rep" value="1">
                    <label> {{rep51}}</label> 
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ5" class="rep" value="2">
                    <label> {{rep52}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ5" class="rep" value="3">
                    <label> {{rep53}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ5" class="rep" value="4">
                    <label> {{rep54}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que6}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/46.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ6" class="rep" value="1">
                    <label> {{rep61}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ6" class="rep" value="2">
                    <label> {{rep62}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ6" class="rep" value="3">
                    <label> {{rep63}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ6" class="rep" value="4">
                    <label> {{rep64}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que7}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/47.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ7" class="rep" value="1">
                    <label> {{rep71}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ7" class="rep" value="2">
                    <label> {{rep72}}</label>
                    <br>
                    
                    <input type="radio" id="rep3" name="repQ7" class="rep" value="3">
                    <label> {{rep73}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ7" class="rep" value="4">
                    <label> {{rep74}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que8}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/48.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ8" class="rep" value="1">
                    <label> {{rep81}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ8" class="rep" value="2">
                    <label> {{rep82}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ8" class="rep" value="3">
                    <label> {{rep83}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ8" class="rep" value="4">
                    <label> {{rep84}}</label>
                </p>
        </div>
        
        <div class="question">
            <h3>{{que9}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/49.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ9" class="rep" value="1">
                    <label> {{rep91}}</label> 
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ9" class="rep" value="2">
                    <label> {{rep92}}</label>
                    <br>
                    
                    <input type="radio" id="rep3" name="repQ9" class="rep" value="3">
                    <label> {{rep93}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ9" class="rep" value="4">
                    <label> {{rep94}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que10}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/50.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ10" class="rep" value="1">
                    <label> {{rep101}}</label> 
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ10" class="rep" value="2">
                    <label> {{rep102}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ10" class="rep" value="3">
                    <label> {{rep103}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ10" class="rep" value="4">
                    <label> {{rep104}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que11}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/51.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ11" class="rep" value="1">
                    <label> {{rep111}}</label> 
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ11" class="rep" value="2">
                    <label> {{rep112}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ11" class="rep" value="3">
                    <label> {{rep113}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ11" class="rep" value="4">
                    <label> {{rep114}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que12}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/52.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ12" class="rep" value="1">
                    <label> {{rep121}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ12" class="rep" value="2">
                <label> {{rep122}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ12" class="rep" value="3">
                    <label> {{rep123}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ12" class="rep" value="4">
                    <label> {{rep124}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que13}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/53.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ13" class="rep" value="1">
                    <label> {{rep131}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ13" class="rep" value="2">
                    <label> {{rep132}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ13" class="rep" value="3">
                    <label> {{rep133}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ13" class="rep" value="4">
                    <label> {{rep134}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que14}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/54.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ14" class="rep" value="1">
                    <label> {{rep141}}</label> 
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ14" class="rep" value="2">
                    <label> {{rep142}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ14" class="rep" value="3">
                    <label> {{rep143}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ14" class="rep" value="4">
                    <label> {{rep144}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que15}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/55.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ15" class="rep" value="1">
                    <label> {{rep151}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ15" class="rep" value="2">
                    <label> {{rep152}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ15" class="rep" value="3">
                    <label> {{rep153}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ15" class="rep" value="4">
                    <label> {{rep154}}</label> 
                </p>
        </div>
        <div class="question">
            <h3>{{que16}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/56.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ16" class="rep" value="1">
                    <label> {{rep161}}</label> 
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ16" class="rep" value="2">
                    <label> {{rep162}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ16" class="rep" value="3">
                    <label> {{rep163}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ16" class="rep" value="4">
                    <label> {{rep164}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que17}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/57.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ17" class="rep" value="1">
                    <label> {{rep171}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ17" class="rep" value="2">
                    <label> {{rep172}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ17" class="rep" value="3">
                    <label> {{rep173}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ17" class="rep" value="4">
                    <label> {{rep174}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que18}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/58.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ18" class="rep" value="1">
                    <label> {{rep181}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ18" class="rep" value="2">
                    <label> {{rep182}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ18" class="rep" value="3">
                    <label> {{rep183}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ18" class="rep" value="4">
                    <label> {{rep184}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que19}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/59.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ19" class="rep" value="1">
                    <label> {{rep191}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ19" class="rep" value="2">
                    <label> {{rep192}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ19" class="rep" value="3">
                    <label> {{rep193}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ19" class="rep" value="4">
                    <label> {{rep194}}</label>
                </p>
        </div>
        <div class="question">
            <h3>{{que20}}</h3>
			<img src="{{ url_for('static', filename='Image_questionnaire/60.png') }}">
                <p class="reponses">
                    
                    <input type="radio" id="rep1" name="repQ20" class="rep" value="1">
                    <label> {{rep201}}</label>
                    
                    <br>

                    <input type="radio" id="rep2" name="repQ20" class="rep" value="2">
                    <label> {{rep202}}</label>

                    <br>
                    
                    <input type="radio" id="rep3" name="repQ20" class="rep" value="3">
                    <label> {{rep203}}</label>
                    
                    <br>

                    <input type="radio" id="rep4" name="repQ20" class="rep" value="4">
                    <label> {{rep204}}</label>
                </p>

        </div>
        <br>
        <br>
        <input type='submit' onclick="fin_timer()">
    </form>
{% endblock contenu %}