{% extends 'index.html' %}*
{% block contenu %}
    <h5>{{rep}}</h5>
    <h1>Les Questionnaires : </h1>
    <p>Vous retrouverez ici un grand nombre de questionnaire.</p>
    <h2 class="QR1"><a href='/question1'>Questionnaire Film:</a></h2>
    <br>
    <div class="tabalign">
      <table class="tableau">
        <thead>
          <tr>
            <th> Pseudo </th>
            <th> Score </th>
            <th> Temps </th>
          </tr>
        </thead>
        <tbody>
          {%for i in range(5)%}
          <tr>
            <td> {{val1[i][0]}} </td>
            <td> {{val1[i][1]}} </td>
            <td> {{val1[i][2]}} </td>
          </tr>
          {%endfor%}
      </table>
    </div>
      <br>
      <br>
    <h2 class="QR2"><a href='/question2'>Questionnaire Série:</a></h2>
    <table class="tableau">
        <tr>
          <th> Pseudo </th>
          <th> Score </th>
          <th> Temps </th>
        </tr>
        {%for i in range(5)%}
          <tr>
            <td> {{val2[i][0]}} </td>
            <td> {{val2[i][1]}} </td>
            <td> {{val2[i][2]}} </td>
          </tr>
          {%endfor%}
      </table>
    <br>
    <br>
    <h2 class="QR3"><a href='/question3'>Questionnaire Géographie:</a></h2>
    <table class="tableau">
        <tr>
          <th> Pseudo </th>
          <th> Score </th>
          <th> Temps </th>
        </tr>
        {%for i in range(5)%}
          <tr>
            <td> {{val3[i][0]}} </td>
            <td> {{val3[i][1]}} </td>
            <td> {{val3[i][2]}} </td>
          </tr>
          {%endfor%}
      </table>
      <br>
{% endblock contenu %}