{% extends 'index.html' %}
{% block contenu %}
    <h2 class="title1"> Questionnaire {{nom}}</h2>
    <form method="POST">
        {%for i in range(20)%}
        <div class="question">
            <img src="{{ url_for('static', filename=reponse[i][1]) }}" class="img"></imgsrc>
                <p class="reponses">
                    <input type="radio" id="rep1" name=i class="rep" value="1">
                    <label >{{reponse[i][0][0]}}</label>

                    <br>

                    <input type="radio" id="rep2" name=i class="rep" value="2">
                    <label>{{reponse[i][0][1]}}</label>

                    <br>

                    <input type="radio" id="rep3" name=i class="rep" value="3">
                    <label>{{reponse[i][0][2]}}</label>

                    <br>

                    <input type="radio" id="rep4" name=i class="rep" value="4">
                    <label>{{reponse[i][0][3]}}</label>
                </p>
        </div>
        {%endfor%}
        <input onclick="fin_timer()", type='submit'>
    </form>
{% endblock contenu %}
